<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="net.spantree.searchbar"
    version="1.0.0">

    <name>Cordova Native SearchBar Plugin</name>

    <description>Displays a native search bar and sends the search String back to the JavaScript interface.</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <asset src="www/searchbar.js" target="searchbar.js" />

    <platform name="ios">
    	<config-file target="config.xml" parent="plugins">
    		<plugin name="SearchBar" value="SearchBar"/>
        </config-file>
    	<header-file src="src/ios/SearchBar.h" />
    	<source-file src="src/ios/SearchBar.m" />
    </platform>

</plugin>